body {
	font-family: calibri, sans-serif;
	padding: 0;
	margin: 0;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

div {
	box-sizing: border-box;
}

header {
	background: #FFBF00 no-repeat center top / cover;
	height: 100px;
}

.container {
	width: 930px;
	margin: 0 auto;
}

.logo {
	margin-top: 6.5px
}


.services_item {
	width: 170px;
	margin-top: 90px; 
    float: left;
    text-align: center;
}

.services_item h3 {
	font-size: 20px;
	margin: 10px;
	text-align: center;
}

.services_item:last-child {
	float: right; 
}

.services_item:nth-child(2) {
	margin-left: 210px; 
}

.ask_me {
	width: 890px;
	margin-top: 90px; 
	margin-left: 20px;
    float: left;
    text-align: center;
}

.ask_me h3 {
	margin: 35px;
	font-size: 22px;
}    

.post {
	margin-left: 150px;
}

.post p {
	font-size: 18px;
	font-weight: bold;
}

.ask_form input {
	width: 525px;
	margin-left: 4px;
	margin-top: 50px;
	border-width: 3px;
	border-color: #FFBF00;
	border-style: solid;
	border-radius: 7px;
	outline: none;
}

.ask_form_second textarea {
	margin-left: 28.3px;
	width: 522px;
	height: 150px;
	border-width: 3px;
	border-color: #FFBF00;
	border-style: solid;
	border-radius: 7px;
	outline: none;
	vertical-align: text-top;
	resize: none;
}

button {
	background: #FFBF00;
	width: 150px;
	height: 30px;
	border: none;
	border-radius: 7px;
	float: right;
	margin-right: 148px;
	font-size: 18px;
	outline: none;	
}

footer {
	background: #FFBF00 no-repeat center top / cover;
	height: 120px;
	margin-top: 70px;
	padding-top: 0.2px;
}

.contact {
	width: 280px;
	height: 80px;
	margin: auto;
}

.contact h3 {
	margin-left: 40px;
	padding-top: 3px;
}

.insta {
	margin-left: 55px;
}